version: "3.7"

services:

  eventstore:
    image: docker.pkg.github.com/eventstore/eventstore/eventstore:ci
    environment:
      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
      - EVENTSTORE_RUN_PROJECTIONS=All
      - EVENTSTORE_DEV=true
    ports:
      - "11131:1113/tcp"
      - "21132:2113/tcp"

  tests:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/src
      - ./tests:/tests
    entrypoint: pytest /tests
    depends_on:
      - eventstore
